In [1]:
ls -lh data

total 272M
-rw-r--r-- 1 stephen stephen 239M Aug  2  2016 data.json
-rw-rw-r-- 1 stephen stephen  33M Dec 17 08:47 data.zip

In [2]:
!wc data/data.json

        0   8173151 250481668 data/data.json

In [7]:
%%writefile subset_json.py
"""head_json.py - extract a couple records from a huge json file.

Syntax: python head_json.py < infile.json > outfile.json
"""

import sys

start_char = '{'
stop_char = '}'
n_records = 1000
level_nesting = 0

while n_records != 0:
    ch = sys.stdin.read(1)
    sys.stdout.write(ch)
    if ch == start_char:
        level_nesting += 1
    if ch == stop_char:
        level_nesting -= 1
        if level_nesting == 0:
            n_records -= 1
sys.stdout.write(']')

Overwriting subset_json.py

In [8]:
!python subset_json.py < data/data.json > data/subset.json

In [9]:
import pandas as pd


df = pd.read_json('data/subset.json')

In [10]:
df.acct_type.value_counts(dropna=False)

premium             845
fraudster_event      65
fraudster            33
spammer_warn         17
spammer_limited      16
tos_warn             10
spammer_noinvite      8
tos_lock              3
locked                2
fraudster_att         1
Name: acct_type, dtype: int64

In [12]:
df['acct_type'].head(50)

0     fraudster_event
1             premium
2             premium
3             premium
4             premium
5             premium
6             premium
7             premium
8             premium
9             premium
10            premium
11            premium
12            premium
13       spammer_warn
14            premium
15            premium
16            premium
17            premium
18            premium
19            premium
20            premium
21            premium
22            premium
23            premium
24            premium
25            premium
26          fraudster
27            premium
28            premium
29            premium
30            premium
31            premium
32       spammer_warn
33            premium
34            premium
35            premium
36            premium
37            premium
38            premium
39            premium
40            premium
41            premium
42            premium
43            premium
44            premium
45            premium
46            premium
47            premium
48            premium
49            premium
Name: acct_type, dtype: object

In [27]:
df["acct_type"] = df['acct_type'].replace('fraudster_event', 'fraudster')

In [28]:
import numpy as np

df['fraud'] = np.where(df['acct_type'] == 'fraudster', True, False)

In [31]:
df[df['fraud'] == True]

,acct_type,approx_payout_date,body_length,channels,country,currency,delivery_method,description,email_domain,event_created,...,user_age,user_created,user_type,venue_address,venue_country,venue_latitude,venue_longitude,venue_name,venue_state,fraud
0,fraudster,1266062400,3852,5,US,USD,0.0,"<p><a href=""http://s432.photobucket.com/albums...",gmail.com,1262739706,...,36,1259613950,1,717 Washington Avenue,US,25.777471,-80.133433,INK Nightclub - South Beach,FL,True
26,fraudster,1299607200,870,11,US,USD,0.0,"<h1 class=""post"">Welcome</h1>\r\n<p>Â </p>\r\n<...",hotmail.com,1299171416,...,42,1295576777,3,400 Fifth Avenue,US,40.750228,-73.983714,The Setai,NY,True
51,fraudster,1329465600,536,6,US,USD,0.0,"<p><span style=""font-size: x-large;"">Okay ever...",cox.net,1317544696,...,77,1310957994,1,404 euclid ave,US,32.702072,-117.085088,The Jacobs Center at Market Creek,CA,True
54,fraudster,1312761600,3081,11,,GBP,0.0,"<h3><strong><strong><span style=""font-family: ...",hotmail.co.uk,1311717051,...,0,1311717050,1,Hammersmith Road,,0.000000,0.000000,Olympia Exhibition Hall,,True
70,fraudster,1322895600,0,13,US,USD,0.0,,yahoo.com,1316795942,...,0,1316795486,1,5801 Security Blvd,US,39.308752,-76.716174,,MD,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
991,fraudster,1379590200,765,0,ID,USD,1.0,"<p style=""margin: 0px 0px 1.5em; padding: 0px;...",hotmail.com,1378669189,...,0,1378669188,1,Jalan Legian,ID,-8.713049,115.173191,Mbargo,Bali,True
995,fraudster,1379664000,21,0,NL,EUR,0.0,<p>Juice Wellcome</p>,qip.ru,1379192565,...,0,1379191845,3,,NL,52.307999,4.971545,,NH,True
996,fraudster,1379844000,8358,0,GB,GBP,0.0,"<p><span style=""color: #333333; font-family: '...",gmail.com,1379338158,...,0,1379338157,1,,GB,50.909700,-1.404351,POP!,England,True
997,fraudster,1380366000,642,5,DE,EUR,0.0,"<p>Hallo Festival Fans,</p>\r\n<p>wie versproc...",gmail.com,1379603314,...,0,1379603312,1,100 Warburger StraÃe,DE,51.709514,8.774385,UNI Paderborn,NRW,True
999,fraudster,1381467600,0,0,US,USD,0.0,,yahoo.com,1380733890,...,30,1378136824,4,,None,NaN,NaN,None,None,True